body{
  width:100%;
  background:blue;
  color:black;
}
header{
  box-shadow: 0 25px 25px -20px #000;
  position:relative;
  z-index:2;
}
h1{
  font-size:6em;
  margin:5%;
}
p{
  font-size:2em;
  font-weight:500;
  margin: 2% 5% 10% 5%;
  font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
  line-height:0.85;
  word-spacing:5px;
}
#main{
  width:100%;
}
#top{
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(../pics/bgs1.jpeg) no-repeat;
  background-size:cover;
}
#hero{
  margin:10px auto;
}
#about{
  background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url(../pics/bgs2.png) no-repeat;
  background-size:cover;
}
#services{
  background: linear-gradient(rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45)), url(../pics/bgs3.jpg) no-repeat;
  background-size:cover;
}
#contact{
  background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url(../pics/bgs4.jpg) no-repeat;
  background-size:cover;
}
#cont{
  max-width:80%;
  margin:0 20%;
}
.fullsc{
  min-height:150vh;
  width:100%;
}