.toppic{
  position:fixed;
}
.abovenavbar{
  height:100px;
  width:100%;
  background-color:#BDBDBD;
  position:fixed;
}
.abovenavbar a,.abovenavbarvan a{
  color:black;
  text-decoration:none;
}
.abovenavbartext{
  position:relative;
  font-size:50px;
  padding-top:25px;
  padding-bottom:25px;
  margin:0;
}
.topnav{
  height:40px;
  padding:10px;
  position:relative;
  top:100px;
}
.topnavaf{
  width:100%;
  position:fixed;
  top:0;
}
.abovenavbarvan{
  height:40px;
  width:100%;
  padding:0px;
  top:0px;
  background-color:#BDBDBD;
  position:fixed;
}
.abovenavbartextvan{
  position:relative;
  font-size:28px;
  margin:0;
  padding:5px;
  padding-left:30px;
}
ul#menu li {
    display:inline;
}
div li{
  margin:10px 0px;
  padding-top:10px;
}
.topnavpill{
  background-color:#333;
  color:#eee;
  padding:12px 25px;
}
.topnavpill:hover{
  background-color:#222;
  color:#eee;
  text-decoration:none;
}
li a:hover,.abovenavbar a:hover,li a:visited,.abovenavbar a:visited,.abovenavbarvan a:hover,.abovenavbarvan a:visited{
  text-decoration:none;
}
.home{
  background:url(../pics/a.jpg) no-repeat center fixed;
  height:768px;
  width:100%;
  margin-top:100px;
  background-size:cover;
}
.about{
  background:url(../pics/b.jpg) no-repeat center fixed;
  height:768px;
  width:100%;
  background-size:cover;
}
.portfolio{
  background:url(../pics/c.jpg) no-repeat center fixed;
  height:768px;
  width:100%;
  margin:0px;
  background-size:cover;
}
.contact{
  background:url(../pics/d.jpg) no-repeat center fixed;
  height:768px;
  width:100%;
  background-size:cover;
}
@media screen and (max-width:100px){
  #top{
    display:none;
  }
  .topnav{
    display:none;
  }
  .home{
    margin:0px;
  }
}
@media screen and (max-width:630px){
  #navalok{
    display:none;
  }
}